 .u-section-1 {
  background-image: none;
  min-height: 584px;
}

.u-section-1 .u-image-1 {
  width: 469px;
  height: 469px;
  margin: -246px 101px 60px auto;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 255px calc(((100% - 1140px) / 2)  + 471px) 0 calc(((100% - 1140px) / 2)  + 45px);
}

.u-section-1 .u-image-2 {
  width: 867px;
  height: 567px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -404px 0 9px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2)  + 101px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 701px;
    margin-right: calc(((100% - 940px) / 2)  + 316px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 488px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2)  + 101px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 96px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 471px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 370px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 353px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 110px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 255px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 222px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: linear-gradient(to right, white, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-2 .u-text-1 {
  margin: 29px 173px 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 29px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 754px;
  grid-gap: 24px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 265px;
  height: 265px;
  background-image: url("images/G1.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 265px;
  height: 265px;
  background-image: url("images/G2.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 265px;
  height: 265px;
  background-image: url("images/G3.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 251px;
  }

  .u-section-2 .u-image-1 {
    background-position: 99.24% 50%;
  }

  .u-section-2 .u-image-2 {
    width: 237px;
    height: 237px;
  }

  .u-section-2 .u-image-3 {
    width: 237px;
    height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 577px;
  }

  .u-section-2 .u-image-2 {
    width: 287px;
    height: 287px;
  }

  .u-section-2 .u-image-3 {
    width: 287px;
    height: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-image-2 {
    width: 361px;
    height: 361px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-image-3 {
    width: 361px;
    height: 361px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 109px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    width: 287px;
    height: 287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    width: 287px;
    height: 287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }
}